snippet tt "phpunit test method scaffold"
/**
 * @test
 */
public function ${1:test_method_name}()
{
}
endsnippet

snippet f "function scaffold"
${1:public} function ${2:function_name}(${3:parameter_name})
{
	${4:// function content}
}
endsnippet
